# Database Connection String
# Opsi 1: PostgreSQL lokal via docker-compose.local.yml
DATABASE_URL="postgres://portfolio_user:portfolio_password@localhost:5432/portfolio_db"

# Opsi 2: PostgreSQL live VPS via SSH Tunnel (ssh -L 5432:localhost:5432 ubuntu@asyaepul.id)
# DATABASE_URL="postgres://portfolio_user:[PASSWORD_VPS]@localhost:5432/portfolio_db"
